@tailwind base;
@tailwind components;
@tailwind utilities;

.button-language {
  background-image: url('/button-back.jpg');
  background-size: cover;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: bold;
}